<div class="container">
	<div class="row justify-content-center">
		<div class="col-10">
			<div class="form-group">
				<label for="productos">Seleccione un producto</label>

				<div class="form-row">
					<div class="form-group col-md-8">
						<select class="form-control" id="productos">
	  	  					<option *ngFor="let producto of productos">{{producto.name}}</option>
	  	  				</select>
					</div>
					<div class="form-group col-md-2">
						<input type="number" class="form-control" id="cantidad">
					</div>
					<div class="form-group col-md-2">
						<button type="button" class="btn btn-primary">
							Agregar
						</button>
					</div>
				</div>
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Nombre</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Subtotal</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Lapices</td>
						<td>1</td>
						<td>$ 1.500</td>
						<td>
							<button type="button" class="btn btn-danger">
								<i class="icon ion-close-round"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Borradores</td>
						<td>2</td>
						<td>$ 2.500</td>
						<td>
							<button type="button" class="btn btn-danger">
								<i class="icon ion-close-round"></i>
							</button>
						</td>
					</tr>
					<tr>
						<td>Resma de Papel</td>
						<td>3</td>
						<td>$ 30.000</td>
						<td>
							<button type="button" class="btn btn-danger">
								<i class="icon ion-close-round"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<button type="button" class="btn btn-primary">
				Finalizar Pedido
			</button>
		</div>
	</div>
</div>
