<div class="pedidos">
	<div class="pedidos-control">
		<a routerLink="/pedido" class="btn btn-primary">
			<i class="icon ion-plus-round"></i>
			Nuevo Pedido
		</a>
	</div>
	<div class="pedidos-reports form-row">
		<div class="col">
			<input type="date" class="form-control">
		</div>
		<div class="col">
			<input type="date" class="form-control">
		</div>
		<div class="col">
			<select class="form-control">
				<option value="0" selecter>Todos</option>
				<option value="1">Pendiente</option>
				<option value="2">En Curso</option>
				<option value="3">Cerrado</option>
				<option value="4">Cancelado</option>
			</select>
		</div>
		<div class="col">
			<button
				type="button"
				title="Filtrar"
				class="btn btn-primary">
				Filtrar
			</button>
			<button
				type="button"
				title="Filtrar"
				class="btn btn-primary">
				Exportar a Excel
			</button>
		</div>
	</div>
	<div class="pedidos-table">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Creación</th>
					<th scope="col">Total</th>
					<th scope="col">Items</th>
					<th scope="col">Estado</th>
					<th scope="col">Usuario</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of pedidos">
					<td scope="row">{{item._id}}</td>
					<td scope="row">{{item.creado | date:'yyyy/MM/dd'}}</td>
					<td>{{item.total | currency}}</td>
					<td>
						<a href="" (click)="pedido = item" data-toggle="modal" data-target="#detalleModal">{{item.detalles.length}}</a>
					</td>
					<td>
						<span
							class="estado"
							[ngClass]="{
								'btn-danger': (item.estado.id == 1),
								'btn-primary': (item.estado.id == 2),
								'btn-success': (item.estado.id == 3),
								'btn-secondary': (item.estado.id == 4)
							}">
							{{item.estado.nombre}}
						</span>
					</td>
					<td>
						<a
							href=""
							(click)="pedido = item"
							class="rq-capitalize"
							data-toggle="modal"
							data-target="#usuarioModal">
							{{item.user.nombre+' '+item.user.apellido}}
						</a>
					</td>
					<td>
						<button
							type="button"
							title="Editar"
							class="btn btn-primary btn-sm"
							*ngIf="item.estado.id == 1"
							routerLink="/pedido/{{item._id}}">
							<i class="icon ion-edit"></i>
						</button>
						<button
							type="button"
							title="Poner En Curso"
							class="btn btn-primary btn-sm"
							*ngIf="currentUser.rol == 'admin' && item.estado.id == 1"
							(click)="cambiarEstadoPedido(item, 2)">
							<i class="icon ion-android-cart"></i>
						</button>
						<button
							type="button"
							title="Finalizar"
							class="btn btn-primary btn-sm"
							*ngIf="item.estado.id == 2"
							(click)="cambiarEstadoPedido(item, 3)">
							<i class="icon ion-checkmark-round"></i>
						</button>
						<button
							type="button"
							title="Cancelar"
							class="btn btn-danger btn-sm"
							*ngIf="currentUser.rol == 'admin' && item.estado.id == 1"
							(click)="cambiarEstadoPedido(item, 4)">
							<i class="icon ion-close-round"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div id="detalleModal" aria-labelledby="detalleModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Detalles</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Cantidad</th>
							<th scope="col">Precio Unidad</th>
							<th scope="col">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of pedido.detalles">
							<td scope="row">{{item.name}}</td>
							<td scope="row">{{item.cantidad}}</td>
							<td scope="row">{{item.precio | currency}}</td>
							<td scope="row">{{(item.precio * item.cantidad) | currency}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div id="usuarioModal" aria-labelledby="usuarioModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Usuario</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="rq-capitalize">
					<strong>Nombre: </strong>{{pedido.user?.nombre+' '+pedido.user?.apellido}}
				</div>
				<div class="rq-capitalize">
					<strong>Departamento: </strong>{{pedido.user?.departamento.nombre}}
				</div>
				<div>
					<strong>Direccion: </strong>{{pedido.user?.departamento.direccion}}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
